{# templates/administration/administrationAdmin.html.twig #}
{% extends 'common/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/administration/administrator.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/administration/administrator.js') }}"></script>
{% endblock %}
{% block navbar %}
    {{ include('administration/administrationNavbar.html.twig') }}
{% endblock %}
{% block body %}
    <div class="text-center">
        <h3>Gestion des administrateurs</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="userTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for administrator in administrators %}
                <tr id="row{{ administrator.id }}">
                    <td id ="lastName{{ administrator.id }}">{{ administrator.lastName }}</td>
                    <td id ="name{{ administrator.id }}">{{ administrator.name }}</td>
                    <td id ="email{{ administrator.id }}">{{ administrator.email }}</td>
                    <td id ="role{{ administrator.id }}">{% if (administrator.roles|first) == "ROLE_SUPER_ADMIN" %}
                        Administrateur
                        {% elseif (administrator.roles|first) == "ROLE_ADMIN" %}
                        Coach
                        {% elseif (administrator.roles|first) == "ROLE_USER" %}
                        Utilisateur
                        {% endif %}
                    </td>
                    <td id ="photo{{ administrator.id }}">{% if administrator.photo %}
                        <img class="d-block img-responsive" src="{{ asset(administrator.photo) }}">
                        {% endif %}
                    </td>
                    <td>
                        <i id="{{ administrator.id }}" class="fas fa-edit float-left editAdministrator" style="font-size:24px" data-toggle="tooltip" title="Modifier"></i>
                        <i id="{{ administrator.id }}" class="fas fa-times float-right deleteAdministrator" style="font-size:24px" data-toggle="tooltip" title="Supprimer"></i>
                    </td>
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn btn-dark" id="clickAddAdministrator">
        <i class="fas fa-plus plusButton"></i>
    </div>
    <div class="row d-none" id="addAdministrator">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="text-center">Ajouter un administrateur</h5>
                            <form>
                                <div class="form-group">
                                    <label for="addAdministratorName">Prénom</label>
                                    <input type="input" class="form-control" id="addAdministratorName" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <label for="addAdministratorLastName">Nom</label>
                                    <input type="input" class="form-control" id="addAdministratorLastName" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <label for="addAdministratorEmail">Email</label>
                                    <input type="email" class="form-control" id="addAdministratorEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="addAdministratorRole">Role</label>
                                    <select id="addAdministratorRole" class="form-control">
                                        <option value="Coach" selected>Coach</option>
                                        <option value="Administrateur">Administrateur</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="btn btn-dark float-left" id="addAdministratorButton">Ajouter</div>
                                    </div>
                                    <div class="col">
                                        <div class="btn btn-dark float-right" id="cancelAdministratorButton">Annuler</div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row d-none" id="editAdministrator">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="text-center">Modifier un administrateur</h5>
                            <form>
                                <input type="input" class="d-none" id="editAdministratorId">
                                <div class="form-group">
                                    <label for="editAdministratorName">Prénom</label>
                                    <input type="input" class="form-control" id="editAdministratorName" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <label for="editAdministratorLastName">Nom</label>
                                    <input type="input" class="form-control" id="editAdministratorLastName" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <label for="editAdministratorEmail">Email</label>
                                    <input type="email" class="form-control" id="editAdministratorEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="editAdministratorRole">Role</label>
                                    <select id="editAdministratorRole" class="form-control">
                                        <option value="Coach" selected>Coach</option>
                                        <option value="Administrateur">Administrateur</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="btn btn-dark float-left" id="editAdministratorButton">Modifier</div>
                                    </div>
                                    <div class="col">
                                        <div class="btn btn-dark float-right" id="cancelEditAdministratorButton">Annuler</div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}