{# templates/administration/administrationProfile.html.twig #}
{% extends 'common/base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js/administration/profile.js') }}"></script>
{% endblock %}
{% block navbar %}
    {{ include('administration/administrationNavbar.html.twig') }}
{% endblock %}
{% block body %}
<div class="row mt-3" id="editProfile">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <h5 class="text-center">Profil</h5>
                        <form>
                            <div class="text-center">
                                <div id="photo">
                                    <div class="d-none" id="photoUrl">{{ admin.photo }}</div>
                                </div>
                                <label for="adminImageInput{{ admin.id }}" class="btn btn-dark mb-3">Sélectionner une image</label>
                                <input type="file" class="d-none selectAdminImageInput" id="adminImageInput{{ admin.id }}">
                            </div>
                            <div class="form-group">
                                <label for="editProfileName">Prénom</label>
                                <input type="input" class="form-control" id="editProfileName" placeholder="{{ admin.name }}">
                            </div>
                            <div class="form-group">
                                <label for="editProfileLastName">Nom</label>
                                <input type="input" class="form-control" id="editProfileLastName" placeholder="{{ admin.lastName }}">
                            </div>
                            <div class="form-group">
                                <label for="editProfileEmail">Email</label>
                                <input type="email" class="form-control" id="editProfileEmail" placeholder="{{ admin.email }}">
                            </div>
                            <div class="form-group">
                                <label for="editProfilePassword">Mot de passe</label>
                                <input type="password" class="form-control" id="editProfilePassword" placeholder="Mot de passe">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="btn btn-dark float-left" id="editProfileButton">Modifier</div>
                                </div>
                                <div class="col">
                                    <div class="btn btn-dark float-right" id="cancelEditProfileButton">Annuler</div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}