{# templates/administration/administrationAdmin.html.twig #}
{% extends 'common/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/administration/administrator.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/administration/club.js') }}"></script>
{% endblock %}
{% block navbar %}
    {{ include('administration/administrationNavbar.html.twig') }}
{% endblock %}
{% block body %}
    <div class="text-center">
        <h3>Gestion des clubs</h3>
    </div>
    <div class="row">
        {% for club in clubs %}
            <div class="col-12 col-lg-6 my-3">
                <div class="card h-100 card-hover">
                    <div class="card-header">{{ club.name }}</div>
                    <a class="card-link h-100" href="https://www.google.com/">
                        <div class="card-body text-center text-dark">
                            <img class="card-img-top rounded-circle w-50" src="{{ asset('images/img.png') }}" alt="Image">
                            <br />
                            {{ club.city }}
                            <br />
                            {{ club.address }}
                            <br />
                            {{ club.description }}
                        </div>
                    </a>
                    <div class="card-footer">
                        {% if club.facebook %}
                            <a class="card-link text-dark" href="{{ club.facebook }}" target="_blank"><i class="fab fa-facebook-square" style="font-size:24px"></i></a>
                        {% endif %}
                        {% if club.instagram %}
                            <a class="card-link text-dark" href="{{ club.instagram }}" target="_blank"><i class="fab fa-instagram" style="font-size:24px"></i></a>
                        {% endif %}
                        {% if club.twitter %}
                            <a class="card-link text-dark" href="{{ club.twitter }}" target="_blank"><i class="fab fa-twitter" style="font-size:24px"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-12 col-lg-6 my-3">
            <div class="btn btn-dark" id="clickAddClub">
                <i class="fas fa-plus plusButton"></i>
            </div>
        </div>
        <div id="addClubCard" class="col-12 col-lg-6 my-3 d-none">
            <div class="card h-100">
                <form>
                    <div class="card-header">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubNameLogo"><i class="fas fa-address-card"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubName" placeholder="Nom du club" aria-describedby="addClubNameLogo">
                            <div class="btn btn-dark clubButton" id="addClubButton"><i class="fas fa-check"></i></div>
                            <div class="btn btn-dark clubButton" id="cancelAddClubButton"><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                        <div class="card-body text-center text-dark">
                            <div id="addClubImage"></div>
                            <label for="selectClubImageInput" class="btn btn-dark mb-3">Sélectionner une image</label>
                            <input type="file" class="d-none" id="selectClubImageInput">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubAddressLogo"><i class="fas fa-map-marked-alt fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="addClubAddress" placeholder="Adresse" aria-describedby="addClubAddressLogo">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubCityLogo"><i class="fas fa-city fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="addClubCity" placeholder="Ville" aria-describedby="addClubCityLogo">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubEmailLogo"><i class="fas fa-at fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="addClubEmail" placeholder="Email" aria-describedby="addClubEmailLogo">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubCoachLogo"><i class="fas fa-user fa-fw"></i></span>
                                </div>
                                <select id="addClubCoach" class="form-control" aria-describedby="addClubCoachLogo">
                                    <option value="" selected></option>
                                    {% for administrator in administrators %}
                                        <option value="{{ administrator.id }}">{{ administrator.lastName }} {{ administrator.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </a>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubFacebookLogo"><i class="fab fa-facebook-square fa-fw"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubFacebook" placeholder="Lien facebook" aria-describedby="addClubFacebookLogo">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubInstagramLogo"><i class="fab fa-instagram fa-fw"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubInstagram" placeholder="Lien instagram" aria-describedby="addClubInstagramLogo">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubTwitterLogo"><i class="fab fa-twitter fa-fw"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubTwitter" placeholder="Lien twitter" aria-describedby="addClubTwitterLogo">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}