{# templates/administration/administrationAdmin.html.twig #}
{% extends 'common/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/administration/administrator.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/administration/clickAddAdministrator.js') }}"></script>
    <script src="{{ asset('js/administration/clickAddAdministratorButton.js') }}"></script>
    <script src="{{ asset('js/administration/clickCancelAdministratorButton.js') }}"></script>
    <script src="{{ asset('js/administration/clickEditAdministrator.js') }}"></script>
    <script src="{{ asset('js/administration/clickDeleteAdministrator.js') }}"></script>
{% endblock %}
{% block navbar %}
    {{ include('administration/administrationNavbar.html.twig') }}
{% endblock %}
{% block body %}
    <div class="text-center">
        <h3>Gestion des administrateurs</h3>
    </div>
    <table class="table table-bordered" id="userTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Photo</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrator in administrators %}
            <tr id="row{{ administrator.id }}">
                <td>{{ administrator.lastName }}</td>
                <td>{{ administrator.name }}</td>
                <td>{{ administrator.email }}</td>
                <td>{% if (administrator.roles|first) == "ROLE_SUPER_ADMIN" %}
                    Administrateur
                    {% elseif (administrator.roles|first) == "ROLE_ADMIN" %}
                    Coach
                    {% elseif (administrator.roles|first) == "ROLE_USER" %}
                    Utilisateur
                    {% endif %}
                </td>
                <td>{% if administrator.photo %}
                    <img class="d-block img-responsive" src="{{ asset(administrator.photo) }}">
                    {% endif %}
                </td>
                <td>
                    <i id="{{ administrator.id }}" class="fas fa-edit float-left editAdministrator" style="font-size:24px" data-toggle="tooltip" title="Modifier"></i>
                    <i id="{{ administrator.id }}" class="fas fa-times float-right deleteAdministrator" style="font-size:24px" data-toggle="tooltip" title="Supprimer"></i>
                </td>
            </tr> 
        {% endfor %}
        </tbody>
    </table>
    <div class="btn btn-dark" id="clickAddAdministrator">
        <i class="fas fa-plus" style="font-size:16px"></i>
    </div>
    <div class="row d-none" id="addAdministrator">
        <div class="col-1 col-md-2"></div>
        <div class="col-10 col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <form>
                                <div class="form-group">
                                    <label for="addAdministratorName">Prénom</label>
                                    <input type="input" class="form-control" id="addAdministratorName" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <label for="addAdministratorLastName">Nom</label>
                                    <input type="input" class="form-control" id="addAdministratorLastName" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <label for="addAdministratorEmail">Email</label>
                                    <input type="email" class="form-control" id="addAdministratorEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="addAdministratorRole">Role</label>
                                    <select id="addAdministratorRole" class="form-control">
                                        <option selected>Coach</option>
                                        <option>Administrateur</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="btn btn-dark float-left" id="addAdministratorButton">Ajouter</div>
                                    </div>
                                    <div class="col">
                                        <div class="btn btn-dark float-right" id="cancelAdministratorButton">Annuler</div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1 col-md-2"></div>
    </div>
{% endblock %}