{# templates/administration/administrationAdmin.html.twig #}
{% extends 'common/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/administration/administrator.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/administration/club.js') }}"></script>
{% endblock %}
{% block navbar %}
    {{ include('administration/administrationNavbar.html.twig') }}
{% endblock %}
{% block body %}
    <div class="modal fade" id="deleteClubConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteClubConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteClubConfirmationModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Etes-vous sur de vouloir supprimer le club ?
                    <input id="clubToDeleteId" type="text" hidden>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="deleteClubConfirmationModalConfirm" type="button" class="btn btn-primary">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteClubSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteClubSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="deleteClubSuccessModalLabel">Succès !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Le club a été supprimé avec succès.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteClubErrorModal" tabindex="-1" role="dialog" aria-labelledby="deleteClubErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="deleteClubErrorModalLabel">Erreur !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Une erreur s'est produite lors de la suppression du club.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createClubSuccessModal" tabindex="-1" role="dialog" aria-labelledby="createClubSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="createClubSuccessModalLabel">Succès !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Le club a été créé avec succès.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createClubErrorModal" tabindex="-1" role="dialog" aria-labelledby="createClubErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="createClubErrorModalLabel">Erreur !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Une erreur s'est produite lors de la création du club.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editClubSuccessModal" tabindex="-1" role="dialog" aria-labelledby="editClubSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editClubSuccessModalLabel">Succès !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Le club a été modifié avec succès.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editClubErrorModal" tabindex="-1" role="dialog" aria-labelledby="editClubErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="editClubErrorModalLabel">Erreur !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Une erreur s'est produite lors de la modification du club.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <h3>Gestion des clubs</h3>
    </div>
    <div class="row">
        {% for club in clubs %}
            <div id="club{{ club.id }}" class="col-12 col-lg-6 my-3">
                <div class="card">
                    <form>
                        <div class="card-header">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubNameLogo{{ club.id }}"><i class="fas fa-address-card"></i></span>
                                </div>
                                <input type="input" class="form-control" id="clubName{{ club.id }}" value="{{ club.name }}" placeholder="Nom du club" aria-describedby="clubNameLogo{{ club.id }}">
                                <div class="btn btn-dark clubButton editClub" id="editClubButton{{ club.id }}" data-toggle="tooltip" title="Modifier"><i class="fas fa-edit"></i></div>
                                <div class="btn btn-dark clubButton deleteClub" id="deleteClubButton{{ club.id }}" data-toggle="tooltip" title="Supprimer"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <div class="card-body text-center text-dark">
                            <div class="clubImage" id="{{ club.id }}">
                                <div class="d-none" id="logo{{ club.id }}">{{ club.logo }}</div>
                            </div>
                            <label for="clubImageInput{{ club.id }}" class="btn btn-dark mb-3">Sélectionner une image</label>
                            <input type="file" class="d-none selectClubImageInput" id="clubImageInput{{ club.id }}">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubAddressLogo{{ club.id }}"><i class="fas fa-map-marked-alt fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="clubAddress{{ club.id }}" value="{{ club.address }}" placeholder="Adresse" aria-describedby="clubAddressLogo{{ club.id }}">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubCityLogo{{ club.id }}"><i class="fas fa-city fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="clubCity{{ club.id }}" value="{{ club.city }}" placeholder="Ville" aria-describedby="clubCityLogo{{ club.id }}">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubEmailLogo{{ club.id }}"><i class="fas fa-at fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="clubEmail{{ club.id }}" value="{{ club.email }}" placeholder="Email" aria-describedby="clubEmailLogo{{ club.id }}">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubCoachLogo{{ club.id }}"><i class="fas fa-user fa-fw"></i></span>
                                </div>
                                <select id="clubCoach{{ club.id }}" class="form-control" aria-describedby="clubCoachLogo{{ club.id }}">
                                    {% for administrator in administrators %}
                                        <option
                                            {% if (administrator.id == club.user.id) %}
                                                selected
                                            {% endif %}
                                            value="{{ administrator.id }}">{{ administrator.lastName }} {{ administrator.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubFacebookLogo{{ club.id }}"><i class="fab fa-facebook-square fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="clubFacebook{{ club.id }}" value="{{ club.facebook }}" placeholder="Lien Facebook" aria-describedby="clubFacebookLogo{{ club.id }}">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubInstagramLogo{{ club.id }}"><i class="fab fa-instagram fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="clubInstagram{{ club.id }}" value="{{ club.instagram }}" placeholder="Lien Instagram" aria-describedby="clubInstagramLogo{{ club.id }}">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="clubTwitterLogo{{ club.id }}"><i class="fab fa-twitter fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="clubTwitter{{ club.id }}" value="{{ club.twitter }}" placeholder="Lien Twitter" aria-describedby="clubTwitterLogo{{ club.id }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
        <div class="col-12 col-lg-6 my-3" id="clickAddClubCard">
            <div class="btn btn-dark" id="clickAddClub">
                <i class="fas fa-plus plusButton"></i>
            </div>
        </div>
        <div id="addClubCard" class="col-12 col-lg-6 my-3 d-none">
            <div class="card">
                <form>
                    <div class="card-header">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubNameLogo"><i class="fas fa-address-card"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubName" placeholder="Nom du club" aria-describedby="addClubNameLogo">
                            <div class="btn btn-dark clubButton" id="addClubButton" data-toggle="tooltip" title="Ajouter"><i class="fas fa-check"></i></div>
                            <div class="btn btn-dark clubButton" id="cancelAddClubButton" data-toggle="tooltip" title="Annuler"><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                        <div class="card-body text-center text-dark">
                            <div id="addClubImage"></div>
                            <label for="clubImageInputAdd" class="btn btn-dark mb-3">Sélectionner une image</label>
                            <input type="file" class="d-none selectClubImageInput" id="clubImageInputAdd">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubAddressLogo"><i class="fas fa-map-marked-alt fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="addClubAddress" placeholder="Adresse" aria-describedby="addClubAddressLogo">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubCityLogo"><i class="fas fa-city fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="addClubCity" placeholder="Ville" aria-describedby="addClubCityLogo">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubEmailLogo"><i class="fas fa-at fa-fw"></i></span>
                                </div>
                                <input type="input" class="form-control" id="addClubEmail" placeholder="Email" aria-describedby="addClubEmailLogo">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addClubCoachLogo"><i class="fas fa-user fa-fw"></i></span>
                                </div>
                                <select id="addClubCoach" class="form-control" aria-describedby="addClubCoachLogo">
                                    <option value="" selected></option>
                                    {% for administrator in administrators %}
                                        <option value="{{ administrator.id }}">{{ administrator.lastName }} {{ administrator.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </a>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubFacebookLogo"><i class="fab fa-facebook-square fa-fw"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubFacebook" placeholder="Lien Facebook" aria-describedby="addClubFacebookLogo">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubInstagramLogo"><i class="fab fa-instagram fa-fw"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubInstagram" placeholder="Lien Instagram" aria-describedby="addClubInstagramLogo">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addClubTwitterLogo"><i class="fab fa-twitter fa-fw"></i></span>
                            </div>
                            <input type="input" class="form-control" id="addClubTwitter" placeholder="Lien Twitter" aria-describedby="addClubTwitterLogo">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}