{# templates/administration/administrationAdmin.html.twig #}
{% extends 'common/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/administration/administrator.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/administration/athlete.js') }}"></script>
{% endblock %}
{% block navbar %}
    {{ include('administration/administrationNavbar.html.twig') }}
{% endblock %}
{% block body %}
    <div class="modal fade" id="deleteAthleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteAthleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAthleteConfirmationModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Etes-vous sur de vouloir supprimer l'administrateur ?
                    <input id="athleteToDeleteId" type="text" hidden>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="deleteAthleteConfirmationModalConfirm" type="button" class="btn btn-primary">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteAthleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteAthleteSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="deleteAthleteSuccessModalLabel">Succès !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    L'administrateur a été supprimé avec succès.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteAthleteErrorModal" tabindex="-1" role="dialog" aria-labelledby="deleteAthleteErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="deleteAthleteErrorModalLabel">Erreur !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Une erreur s'est produite lors de la suppression de l'administrateur.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createAthleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="createAthleteSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="createAthleteSuccessModalLabel">Succès !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    L'administrateur a été créé avec succès.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createAthleteErrorModal" tabindex="-1" role="dialog" aria-labelledby="createAthleteErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="createAthleteErrorModalLabel">Erreur !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Une erreur s'est produite lors de la création de l'administrateur.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editAthleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="editAthleteSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editAthleteSuccessModalLabel">Succès !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    L'administrateur a été modifié avec succès.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editAthleteErrorModal" tabindex="-1" role="dialog" aria-labelledby="editAthleteErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="editAthleteErrorModalLabel">Erreur !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Une erreur s'est produite lors de la modification de l'administrateur.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <h3>Gestion des administrateurs</h3>
    </div>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recherche par mot" aria-label="Recherche par mot" aria-describedby="searchPerName">
                <div class="input-group-append">
                    <span class="input-group-text" id="searchPerName"><i class="fas fa-search" style="font-size:24px" data-toggle="tooltip" title="Rechercher"></i></span>
                </div>
            </div>
            <div class="text-center" style="font-size:14px">
                Plus de filtres...
                <i class="fas fa-search-plus" style="font-size:18px" data-toggle="tooltip" title="Plus de filtres"></i>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-12">
            <div class="d-none">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Taille
                                Catégorie
                                Assurance
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-bordered table-striped" id="userTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for athlete in athletes %}
                <tr id="row{{ athlete.id }}">
                    <td class="text-center" id ="photo{{ athlete.id }}">
                        {% if athlete.photo %}
                            <img class="img-admin" src="{{ asset(athlete.photo) }}">
                        {% endif %}
                    </td>
                    <td class="align-middle" id ="lastName{{ athlete.id }}">{{ athlete.lastName }}</td>
                    <td class="align-middle" id ="name{{ athlete.id }}">{{ athlete.name }}</td>
                    <td class="align-middle" id ="birthDate{{ athlete.id }}">{{ athlete.birthDate }}</td>
                    <td class="align-middle">
                        <i id="{{ athlete.id }}" class="fas fa-expand-arrows-alt float-left showAthlete" style="font-size:24px" data-toggle="tooltip" title="Voir les données"></i>
                        <i id="{{ athlete.id }}" class="fas fa-times float-right deleteAthlete" style="font-size:24px" data-toggle="tooltip" title="Supprimer"></i>
                    </td>
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn btn-dark mt-3" id="clickAddAthlete">
        <i class="fas fa-user-plus plusButton"></i>
    </div>
    <div class="row mt-3" id="addAdthlete">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="text-center">Ajouter un Athlète</h5>
                            <form>
                                <div class="text-center mb-3">
                                    <div class="btn btn-dark mb-1 disabled" id="rotateImage" data-toggle="tooltip" title="Pivoter"><i class="fas fa-redo-alt"></i></div>
                                    <div id="photo">
                                        <div class="d-none" id="photoUrl"></div>
                                    </div>
                                    <label for="addAthleteImageInput" class="btn btn-dark mb-1">Sélectionner une photo</label>
                                    <input type="file" class="d-none" id="addAthleteImageInput">
                                    <br />
                                    <div class="btn btn-dark disabled" id="addAthleteDeleteImage">Supprimer la photo</div>
                                </div>
                                <div class="form-group">
                                    <label for="addAthleteName">Prénom</label>
                                    <input type="input" class="form-control" id="addAthleteName" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <label for="addAthleteLastName">Nom</label>
                                    <input type="input" class="form-control" id="addAthleteLastName" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <label for="addAthleteSex">Sexe</label>
                                    <select id="addAthleteSex" class="form-control">
                                        <option value="Femme" selected>Femme</option>
                                        <option value="Homme">Homme</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="addAthleteLastName">Date de naissance</label>
                                    <input type="date" class="form-control" id="addAthleteBirthDate">
                                </div>
                                <div class="form-group">
                                    <label for="addAthleteAddress">Adresse</label>
                                    <input type="email" class="form-control" id="addAthleteAddress" placeholder="Adresse">
                                </div>
                                <div class="form-group">
                                    <label for="addAthletePhoneNumber1">Numéro de téléphone</label>
                                    <input type="email" class="form-control" id="addAthletePhoneNumber" placeholder="Numéro de téléphone">
                                </div>
                                <div class="form-group">
                                    <label for="addAthletePhoneNumber">Numéro de téléphone parents</label>
                                    <input type="email" class="form-control" id="addAthletePhoneNumber" placeholder="Numéro de téléphone parents">
                                </div>
                                <div class="form-group">
                                    <label for="addAthleteEmail">Email</label>
                                    <input type="email" class="form-control" id="addAthleteEmail" placeholder="Email">
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        <div class="btn btn-dark float-left" id="addAthleteButton">Ajouter</div>
                                    </div>
                                    <div class="col">
                                        <div class="btn btn-dark float-right" id="cancelAthleteButton">Annuler</div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row d-none mt-3" id="editAthlete">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="text-center">Modifier un administrateur</h5>
                            <form>
                                <input type="input" class="d-none" id="editAthleteId">
                                <div class="form-group">
                                    <label for="editAthleteName">Prénom</label>
                                    <input type="input" class="form-control" id="editAthleteName" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <label for="editAthleteLastName">Nom</label>
                                    <input type="input" class="form-control" id="editAthleteLastName" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <label for="editAthleteEmail">Email</label>
                                    <input type="email" class="form-control" id="editAthleteEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="editAthleteRole">Role</label>
                                    <select id="editAthleteRole" class="form-control">
                                        <option value="Coach" selected>Coach</option>
                                        <option value="Administrateur">Administrateur</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="btn btn-dark float-left" id="editAthleteButton">Modifier</div>
                                    </div>
                                    <div class="col">
                                        <div class="btn btn-dark float-right" id="cancelEditAthleteButton">Annuler</div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}